{% extends 'NBAindex/firstpagebase.html' %}
{% load staticfiles %}
{% block navabout %}active{% endblock %}
{% block imgurl %}/static/image/indexbg.jpeg{% endblock %}
{% block firstpageheadline %}About{% endblock %}
{% block index_block %}
<h1>ABOUT THIS WEBSITE</h1>
    <ul>
        <li>
            This is a NBA statics site, which contains the statics , profile and recent news of current NBA player.
        </li>
        <li>
            I highly recommanded you to look at the shooting diagram part. I using stat.NBA.com's shooting log data
             to plot every player's shooting diagram. Your will gain a much more direct image of the player's shooting
            behaviors.
        </li>
        <li>
            All the data in this website is comming from stat.NBA.com.
        </li>
    </ul>
<h1 >ABOUT ME</h1>
    <ul>
        <li>Yang Kai</li>
        <li>Email: andyyang0212 at hotmail.com</li>
    </ul>
{% endblock %}