{% extends 'NBAindex/firstpagebase.html' %}
{% load staticfiles %}
{% block navabout %}active{% endblock %}
{% block imgurl %}/static/image/indexbg.jpeg{% endblock %}
{% block firstpageheadline %}About{% endblock %}
{% block index_block %}
<h1>ABOUT THIS WEBSITE</h1>
    <ul>
        <li>
            This is a NBA statics site, which contains the statics , profile and recent news of current NBA player
            and recent games.
        </li>
        <li>
            I highly recommanded you to look at the shooting diagram and replay animation part.<br/>
            <ul>
                <li><strong>Shooting Diagram</strong> in this part I'm using stat.NBA.com' shooting log data
                    to plot<br/>every player's shooting behavior in every game he participated in season 2014-15.
                    <br/>Your will gain a much more direct image of the player's shooting behaviors.</li>
                <li><strong>Replay Animation</strong> When you click the event shown in timeline description on game page,<br/>
                    You will see the replay animation of that event, which will help you get the coach's tactics<br/>
                    in a more
                    directly way.
            </ul>
        </li>
        <li>
            All the data in this website is comming from stat.NBA.com.
        </li>
    </ul>
<h1 >ABOUT ME</h1>
    <ul>
        <li>Yang Kai</li>
        <li>Email: andyyang0212 at hotmail.com</li>
    </ul>
{% endblock %}