{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
    <style>
        .bg{background:url({% block imgurl %}{% endblock %}) no-repeat center fixed;background-size:contain}
        .jumbotron{
            padding: 170px;
        }
        .jumbotron h1{
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block body_block %}
<div class="container bs-docs-container">
    <div class="jumbotron bg">
        <h1>{% block firstpageheadline %}{% endblock %}</h1>
    </div>
    {% block index_block %}
        {% endblock %}
</div>
{% endblock %}