{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
    <script src="../static/js/NBAindex_index.js"></script>
    <style>
    .bg{background:url(/static/image/indexbg.jpeg) no-repeat center fixed;background-size:contain}
    .jumbotron{
        padding: 170px;
    }
    .jumbotron h1{
        color: #ffffff;
    }
    </style>
{% endblock %}
{% block body_block %}
<div class="container bs-docs-container">
    <div class="jumbotron bg">
        <h1>NBAstats</h1>
    </div>
    {% block index_block %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Find All Player</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li>
              <span class=" navbar-brand glyphicon glyphicon-search" aria-hidden="true"></span>
          </li>
          <li>
              <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                      <input type="text" class="form-control" id="searchplayername" placeholder="Search by name">
                  </div>
                </form>
          </li>
          <!--
          <li>
              <div class="navbar-btn btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
              </div>
          </li>
          -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="row ">
        <div class="col-md-2"><h5>Find Player By Lastname</h5></div>
        <div class="col-md-10">
            <div class="btn-group .btn-group.btn-group-justified pull-right indexbutton" role="group" aria-label="...">
                <button type="button" class="btn btn-default A">A</button>
                <button type="button" class="btn btn-default B">B</button>
                <button type="button" class="btn btn-default C">C</button>
                <button type="button" class="btn btn-default D">D</button>
                <button type="button" class="btn btn-default E">E</button>
                <button type="button" class="btn btn-default F">F</button>
                <button type="button" class="btn btn-default G">G</button>
                <button type="button" class="btn btn-default H">H</button>
                <button type="button" class="btn btn-default I">I</button>
                <button type="button" class="btn btn-default G">J</button>
                <button type="button" class="btn btn-default K">K</button>
                <button type="button" class="btn btn-default L">L</button>
                <button type="button" class="btn btn-default M">M</button>
                <button type="button" class="btn btn-default N">N</button>
                <button type="button" class="btn btn-default O">O</button>
                <button type="button" class="btn btn-default P">P</button>
                <button type="button" class="btn btn-default Q">Q</button>
                <button type="button" class="btn btn-default R">R</button>
                <button type="button" class="btn btn-default S">S</button>
                <button type="button" class="btn btn-default T">T</button>
                <button type="button" class="btn btn-default U">U</button>
                <button type="button" class="btn btn-default V">V</button>
                <button type="button" class="btn btn-default W">W</button>
                <button type="button" class="btn btn-default X">X</button>
                <button type="button" class="btn btn-default Y">Y</button>
                <button type="button" class="btn btn-default Z">Z</button>
            </div>
        </div>
    </div>
    <hr>
        {% endblock %}
    <div class="container playerindex"></div>
</div>
{% endblock %}