{% extends 'NBAindex/firstpagebase.html' %}
{% load staticfiles %}
{% block script %}
    <script src="../static/js/NBAindex_index.js"></script>
{% endblock %}
{% block imgurl %}/static/image/players.jpg{% endblock %}
{% block navplayer %}active{% endblock %}
{% block firstpageheadline %}Player{% endblock %}
{% block index_block %}
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class=" navbar-brand glyphicon glyphicon-search" aria-hidden="true"></span>
                <a class="navbar-brand">Find All Player</a>
            </div>
            <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control " id="searchplayername" placeholder="Search by name">
                    </div>
            </form>
        </div>
</nav>
    <div class="row ">
        <div class="col-md-2"><h5>Find Player By Lastname</h5></div>
        <div class="col-md-10">
            <div class="btn-group .btn-group.btn-group-justified pull-right indexbutton" role="group" aria-label="...">
                <button type="button" class="btn btn-default A">A</button>
                <button type="button" class="btn btn-default B">B</button>
                <button type="button" class="btn btn-default C">C</button>
                <button type="button" class="btn btn-default D">D</button>
                <button type="button" class="btn btn-default E">E</button>
                <button type="button" class="btn btn-default F">F</button>
                <button type="button" class="btn btn-default G">G</button>
                <button type="button" class="btn btn-default H">H</button>
                <button type="button" class="btn btn-default I">I</button>
                <button type="button" class="btn btn-default G">J</button>
                <button type="button" class="btn btn-default K">K</button>
                <button type="button" class="btn btn-default L">L</button>
                <button type="button" class="btn btn-default M">M</button>
                <button type="button" class="btn btn-default N">N</button>
                <button type="button" class="btn btn-default O">O</button>
                <button type="button" class="btn btn-default P">P</button>
                <button type="button" class="btn btn-default Q">Q</button>
                <button type="button" class="btn btn-default R">R</button>
                <button type="button" class="btn btn-default S">S</button>
                <button type="button" class="btn btn-default T">T</button>
                <button type="button" class="btn btn-default U">U</button>
                <button type="button" class="btn btn-default V">V</button>
                <button type="button" class="btn btn-default W">W</button>
                <button type="button" class="btn btn-default X">X</button>
                <button type="button" class="btn btn-default Y">Y</button>
                <button type="button" class="btn btn-default Z">Z</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container playerindex"></div>
        {% endblock %}