{% extends 'NBAindex/firstpagebase.html' %}
{% load staticfiles %}
{% block script%}
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/datetimepicker.min.css" media="screen">
    <script  src="/static/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script  src="/static/js/scoreindex.js"></script>
{% endblock %}
{% block imgurl %}/static/image/team.jpg{% endblock %}
{% block navscore %}active{% endblock %}
{% block firstpageheadline %}Score{% endblock %}
{% block index_block %}
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand">Select Date</a>
        </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li>
              <span class=" navbar-brand glyphicon glyphicon-search" aria-hidden="true"></span>
          </li>
          <li>
              <form class="navbar-form navbar-left form-horizontal" role="form">
                  <div class="form-group">
                      <div class="input-group date form_date " data-date=""
                           data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          <input class="form-control" size="16" type="text" value="" readonly
                      </div>
                      <input type="hidden" id="dtp_input" value="" /><br/>
                  </div>
                </form>
          </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col-md-12 center-block gamecontainer">
    </div>
    <div class="col-md-12 loading">
        <h2 class="text-center">Loading</h2>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}